<div class="container-fluid p-3">
    <mat-icon class="float-end hover" (click)="closeModal()">close</mat-icon>

    <h1 class="titulo">{{ isEditMode ? 'Editar usuário' : 'Cadastro de Usuários' }}</h1>
    <h2 class="subtitulo">Preencha o formulário com os dados do usuário</h2>

    <form class="row" [formGroup]="formUser" (ngSubmit)="saveUser()">
        <div class="col-12 col-md-6 md-2">
            <mat-form-field class="example-full-width w-100">
                <mat-label>Nome</mat-label>
                <input type="text" matInput formControlName="nome" placeholder="Digite o nome">
                @if (formUser.controls['nome'].invalid) {
                  <mat-error>Preencha com um nome válido</mat-error>
                }
            </mat-form-field>
        </div>
        <div class="col-12 col-md-6 md-2">
            <mat-form-field class="example-full-width w-100">
                <mat-label>E-mail</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Ex. exemplo@crud.com">
                @if (formUser.controls['email'].invalid) {
                  <mat-error>Preencha com um e-mail válido</mat-error>
                }
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 md-2">
            <mat-form-field class="example-full-width w-100">
                <mat-label>Empresa</mat-label>
                <mat-select formControlName="empresaid" [required]="true">
                    @for (empresa of empresas; track empresa.firebaseId) {
                        <mat-option [value]="empresa.firebaseId">{{empresa.razaoSocial}}</mat-option>
                    }
                </mat-select>
                @if (formUser.controls['empresaid'].invalid) {
                    <mat-error>Selecione uma empresa</mat-error>
                }
            </mat-form-field>
        </div>

        <div class="col-12">
            <button class="botao-primario float-end" [disabled]="!formUser.valid" type="submit">
                {{ isEditMode ? 'Atualizar' : 'Salvar' }}
            </button>
        </div>
    </form>
</div>