<app-menu></app-menu>

<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-12">
            <h1 class="titulo">Cadastro de Produtos</h1>
            <h2 class="subtitulo">Gerencie produtos adicionando, editando ou excluindo</h2>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-8">
            <mat-form-field>
                <mat-label>Busca produto</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Digite sua busca" #input>
            </mat-form-field>
        </div>
        <div class="col-4">
            <app-button textButton="+ Cadastrar" class="float-end" (click)="openModalFormProduto(null)"></app-button>
        </div>

        <div class="col-12 shadow-lg">
            <table mat-table [dataSource]="dataSource" matSort>
            
                <ng-container matColumnDef="nome">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-table"> Nome </th>
                  <td mat-cell class="td-table" *matCellDef="let produto"> {{produto.nome}} </td>
                </ng-container>

                <ng-container matColumnDef="marca">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-table"> Marca </th>
                    <td mat-cell class="td-table" *matCellDef="let produto"> {{produto.marca}} </td>
                </ng-container>
                
                <ng-container matColumnDef="venda">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-table"> Valor Venda </th>
                    <td mat-cell class="td-table" *matCellDef="let produto"> {{produto.valorUnitarioVenda | currency:'BRL'}} </td>
                </ng-container>
                
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-table"></th>
                  <td mat-cell class="td-table" *matCellDef="let produto">
                      <mat-icon class="icone-tabela" (click)="openModalViewProduto(produto)">visibility</mat-icon>
                      <mat-icon class="icone-tabela" (click)="openModalFormProduto(produto)">edit</mat-icon>
                      <mat-icon class="icone-tabela" (click)="deleteProduto(produto.firebaseId)">delete</mat-icon>
                  </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
                <tr class="mat-row no-data" *matNoDataRow>
                  <td class="mat-cell" colspan="5">Nenhum produto compatível com o filtro: "{{input.value}}"</td>
                </tr>
            </table>
            
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" aria-label="Quantidade de produtos por página"></mat-paginator>
        </div>
    </div>
</div>