<app-menu></app-menu>

<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-12">
            <h1 class="titulo">Gerenciamento de Estoque</h1>
            <h2 class="subtitulo">Controle as entradas e ajustes do seu estoque</h2>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-8">
            <mat-form-field>
                <mat-label>Buscar Movimentação</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Digite o nome do produto ou fornecedor" #input>
            </mat-form-field>
        </div>
        
        <div class="col-4">
            <app-button 
                textButton="+ Nova Movimentação" 
                class="float-end" 
                (click)="openStockFormModal(null)"
            ></app-button>
        </div>

        <div class="col-12 shadow-lg">
            <table mat-table [dataSource]="dataSource" matSort>
            
                <ng-container matColumnDef="produto">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-table"> Produto </th>
                  <td mat-cell class="td-table" *matCellDef="let entry"> {{entry.produtoNome}} </td>
                </ng-container>

                <ng-container matColumnDef="fornecedor">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-table"> Fornecedor </th>
                  <td mat-cell class="td-table" *matCellDef="let entry"> {{entry.fornecedorNome}} </td>
                </ng-container>

                <ng-container matColumnDef="quantidade">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-table"> Quantidade </th>
                    <td mat-cell class="td-table" *matCellDef="let entry"> {{entry.quantidade}} </td>
                </ng-container>
                
                <ng-container matColumnDef="validade">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-table"> Validade </th>
                    <td mat-cell class="td-table" *matCellDef="let entry"> {{entry.validade}} </td>
                </ng-container>
                
                <ng-container matColumnDef="tipoMovimento">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-table"> Movimento </th>
                    <td mat-cell class="td-table" 
                        *matCellDef="let entry"
                        [ngClass]="{'text-success': entry.tipoMovimento === 'ENTRADA', 'text-danger': entry.tipoMovimento === 'AJUSTE'}"
                    > 
                        {{entry.tipoMovimento === 'ENTRADA' ? 'Entrada' : 'Ajuste'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="dataMovimento">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-table"> Data </th>
                    <td mat-cell class="td-table" *matCellDef="let entry"> 
                        {{entry.dataMovimento | date: 'dd/MM/yyyy HH:mm'}} 
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-table"></th>
                    <td mat-cell class="td-table" *matCellDef="let entry">
                        <mat-icon class="icone-tabela" (click)="openModalViewStock(entry)">visibility</mat-icon>
                        <mat-icon class="icone-tabela" (click)="openStockFormModal(entry)">edit</mat-icon>
                        <mat-icon class="icone-tabela" (click)="deleteStock(entry.firebaseId)">delete</mat-icon>
                    </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
                <tr class="mat-row no-data" *matNoDataRow>
                  <td class="mat-cell" [attr.colspan]="displayedColumns.length">Nenhuma movimentação compatível com o filtro: "{{input.value}}"</td>
                </tr>
            </table>
            
            <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>