:host {
    display: flex;
    height: 100vh;
}

.area-login-background {
    flex: 0 0 30%; // Agora a imagem ocupará 30% da largura da página
    display: none;

    @media only screen and (min-width: 768px) {
        display: block;
        background-image: url('../../../assets/back2.png');
        background-color: var(--primary-color);
        background-size: auto 110%;
        background-position: center bottom;
        background-repeat: no-repeat;
    }
}


.area-form {
    flex: 1; // Ocupará todo o espaço restante (os outros 70%)
    background: var(--backgroud-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    padding: 20px;

    @media only screen and (max-width: 767px) {
        width: 100%;
    }

    form {
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulo {
        font-size: 80px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 5px;
        color: var(--primary-color);
        margin-bottom: 10px;

        @media only screen and (max-width: 767px) {
            font-size: 40px;
        }
    }

    .subtitulo {
        font-size: 16px;
        color: var(--gray-color);
        margin-bottom: 30px;
        text-align: center;
    }

    .input-form {
        outline: none;
        padding: 8px 10px;
        width: 100%;
        border-radius: 7px;
        border: 1px solid transparent;
        margin-bottom: 32px;
        transition: 0.2s linear all;
        box-shadow: inset 1px 1px 2px #b1b4c280, inset -1px -1px 2px #adadadb0;
        
        &:focus {
            border: 1px solid var(--primary-color);
        }
    }

    .footer {
        position: absolute;
        bottom: 4px;
        font-size: 10px;
        color: var(--gray-color);
    }
}