:host {
    display: flex;
    height: 100vh;
}

.area-login-background {
    flex: 0 0 30%;
    display: none;

    @media only screen and (min-width: 768px) {
        display: block;
        background-image: 
            linear-gradient(to left, rgb(255, 255, 255) 0%, rgba(14, 19, 61, 0.404) 50%),
            url('../../../assets/bg.jpg');
        background-color: var(--backgroud-color);
        background-size: auto 110%;
        background-position: center bottom;
        background-repeat: no-repeat;
    }
}

.area-form {
    flex: 1;
    background: var(--backgroud-color);
    display: flex; 
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    padding: 20px;

    @media only screen and (max-width: 767px) {
        width: 100%;
    }

    form {
        width: 100%;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulo {
        font-size: 80px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 5px;
        color: var(--primary-color);
        margin-bottom: 10px;

        @media only screen and (max-width: 767px) {
            font-size: 40px;
        }
    }

    .subtitulo {
        font-size: 16px;
        color: var(--gray-color);
        margin-bottom: 30px;
        text-align: center;
    }

    // Estilos para os campos do Material
    mat-form-field {
      width: 100%;
      margin-bottom: 20px;
    }

    .forgot-password-button {
      // Remover estilos conflitantes com o Material
      text-align: center;
    }

    .forgot-password-link {
        font-size: 14px;
        color: var(--primary-color);
        margin-top: -10px;
        margin-bottom: 15px;
        cursor: pointer; // Adiciona o cursor de ponteiro
        transition: color 0.2s ease-in-out;

        &:hover {
            text-decoration: underline;
        }
    }

    .footer {
        position: absolute;
        bottom: 4px;
        font-size: 10px;
        color: var(--gray-color);
    }
}