<div class="area-login-background d-none d-md-block"></div>

<div class="area-form">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" autocomplete="off">
    <h1 class="titulo">{{ nameSoftware }}</h1>
    <h2 class="subtitulo">{{ slogan }}</h2>

    @if (showBusinessField) {
      <mat-form-field class="full-width-input">
        <mat-label>Business</mat-label>
        <input matInput formControlName="business" type="text" placeholder="Digite o Business Id">
      </mat-form-field>
    }

    <mat-form-field class="full-width-input">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" placeholder="Digite seu email">
      @if (loginForm.get('email')?.hasError('required')) {
        <mat-error>
          Email é obrigatório.
        </mat-error>
      }
      @if (loginForm.get('email')?.hasError('email')) {
        <mat-error>
          Email inválido.
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field class="full-width-input">
      <mat-label>Senha</mat-label>
      <input matInput formControlName="password" [type]="hidePassword() ? 'password' : 'text'" placeholder="Digite sua senha">
      <mat-icon matSuffix class="password-toggle-icon" (click)="togglePasswordVisibility()" [class.visible]="!hidePassword()">
        {{ hidePassword() ? 'visibility_off' : 'visibility' }}
      </mat-icon>
      @if (loginForm.get('password')?.hasError('required')) {
        <mat-error>
          Senha é obrigatória.
        </mat-error>
      }
      @if (loginForm.get('password')?.hasError('minlength')) {
        <mat-error>
          A senha deve ter no mínimo 6 caracteres.
        </mat-error>
      }
    </mat-form-field>

    <a (click)="recoverPassword()" class="forgot-password-link">Esqueci minha senha</a>

    <app-button textButton="Acessar" type="submit" [disabled]="loginForm.invalid"></app-button>

    @if (errorMessage) {
      <div class="error-message-box">
        {{ errorMessage }}
      </div>
    }
  </form>

  <p class="footer">© 2025 | Desenvolvido por TecMhaicky</p>
</div>