/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --primary-color: #f0b800;
    --error-color: #ac2828;
    --gray-color: #757575;
    --shadow-color: #0a0a0a20;
    --shadow-color-hover: #0a0a0a50;
    --text-color:#000000;
    --text-button-color:#000000;
    --backgroud-color: #fff;
}

.c-primary {
    color: var(--primary-color);
}

.c-error {
    color: var(--error-color);
}

.c-gray {
    color: var(--gray-color);
}

.hover:hover {
    cursor: pointer;
}