<nav class="sidemenu">
    <ul>
        <li>
            <img src="../../../assets/logo.png" width="40px">
            <span class="logo">Simple</span>
        </li>
        <li routerlink="/home"><mat-icon>home</mat-icon>Home</li>
        <li routerlink="/usuarios"><mat-icon>person_add</mat-icon>Cadastrar Usuário</li>
        <li><mat-icon>local_fire_department</mat-icon>local_fire_department</li>
        <li><mat-icon>description</mat-icon>description</li>
        <li routerlink="/login"><mat-icon>logout</mat-icon>Sair</li>
    </ul>
</nav>